.lead-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 40px 19px 40px;
  max-width: 412px;
  box-shadow: 0 3px 16px #00000029;

  &__header {
    &__title {
      margin-top: 52px;
      font-size: 24px;
      line-height: 44px;
      font-weight: 800;
      @media screen and(max-width: 1024px) {
        margin-top: 50px;
        font-size: 18px;
      }
    }

    &__subtitle {
      margin-top: 20px;
      font-size: 18px;
      line-height: 59px;
      font-weight: 400;
      margin-bottom: 47px;
      @media screen and(max-width: 1024px) {
        margin-top: 21px;
      }
    }
  }

  &__form-inputs {
    width: 100%;

    &__input-wrapper {
      margin-bottom: 51px;
      display: flex;
      flex-direction: column;
      position: relative;

      &__input {
        border: 0;
        outline: 0;
        border-bottom: 2px solid #707070;
        color: #707070;
        font-size: 18px;
        @media screen and(max-width: 1024px) {
          font-size: 16px;
        }

        &:focus {
          border-color: #aaa
        }
      }

      &__error {
        position: absolute;
        top: 24px;
        left: 0;
        color: #ED6982;
        font-size: 12px;
        line-height: 28px;
      }
    }
  }

  &__cta-button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA52E;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    width: 216.4px;
    height: 54px;
    @media screen and(max-width: 1024px) {
      width: 198px;
      height: 46px;
    }
  }

  &__privacy-terms {
    margin-top: 31px;
    text-align: left;
    display: flex;
    width: 100%;

    @media screen and(max-width: 1024px) {
      margin-top: 25px;
    }

    &__checkbox {
      width: 10px;
      height: 10px;

    }

    &__checkbox-label {
      margin-left: 7px;
      max-width: 306px;
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;

      @media screen and(max-width: 1024px) {
        font-size: 13px;
        font-weight: 300;
      }
    }
  }
}
