.inclusive-workplace-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media screen and(max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    padding: 0 37px;
  }

  &__lead-form {
    margin-top: 174px;
    @media screen and(max-width: 1024px) {
      margin-top: 64px;
    }
  }

  &__content-information {
    max-width: 680px;
    margin-top: 203px;
    @media screen and(max-width: 1024px) {
      margin-top: 60px;
    }

    &__header {
      &__title {
        color: #1F2773;
        font-size: 40px;
        line-height: 58px;
        font-weight: 900;
        @media screen and(max-width: 1024px) {
          font-size: 34px;
          line-height: 45px;
          font-weight: 800;
        }
      }

      &__subtitle {
        color: #010A60;
        font-size: 25px;
        line-height: 38px;
        font-weight: 700;
        @media screen and(max-width: 1024px) {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }

    &__content {
      font-size: 18px;
      line-height: 29px;
      font-weight: 400;
      @media screen and(max-width: 1024px) {
        font-size: 16px;
        line-height: 25px;
      }

      &__premise {
        margin-top: 30px;
      }

      &__keypoints {
        margin-top: 17px;

        ul {
          list-style: inside;
          padding-left: 0;
        }
      }

      &__cta {
        margin-top: 25px;
      }
    }
  }
}
